<div id="faq-content">

    <!-- Top Image With Text -->
    <div class="container-fluid p-0">
        <div class="image-with-text">
            <h3 class="text-center">Frequently Asked Questions</h3>
        </div>
    </div>

    <div class="container">

        <div class="faq-inner">
            <div class="vertical-heading-sm">
                <h3>General Quetions</h3>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">What is Marketplace-Notes ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>Notes Marketplace is an online marketplace for university students to buy and sell their course notes.</p>
                </div>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">What do the University say ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>What started out as four friends chucking around an idea in Ahmedabad ended up turning into an earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.</p>
                </div>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">Is this legal ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque, repudiandae suscipit commodi ipsa omnis nam est esse quod provident nemo. Nesciunt eveniet ipsum dolorum animi, officia natus assumenda corrupti.</p>
                </div>
            </div>


        </div>
        <div class="faq-inner">
            <div class="vertical-heading-sm">
                <h3>Uploaders</h3>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">What can't I sell ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.</p>
                </div>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">What notes can I sell ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veritatis dolorem dolores, vel rem aliquid saepe veniam recusandae corporis esse. Accusamus ipsa maxime culpa ea, doloribus maiores aut repudiandae et!</p>
                </div>
            </div>
        </div>

        <div class="faq-inner">
            <div class="vertical-heading-sm">
                <h3>Downloaders</h3>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">How do I buy notes ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download.</p>
                </div>
            </div>
            <div class="faq-wrap">
                <a href="#" class="question-toggle">Can I edit notes I purchased ?<span><i class="fa fa-plus"></i></span></a>
                <div class="faqanswer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quam laudantium, debitis hic velit aspernatur facere atque facilis, expedita perspiciatis non, iste quibusdam. Odio sequi velit tempora aperiam cupiditate! Voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

